* {
  font-family: "Fira Code";
}

body {
  background-image: url(./background.svg);

  /* Full height */
  background-size: 82%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.center-text {
  text-align: center;
}

.app-header-divider {
  color: black;
  font-size: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #171123;
  display: grid;
  grid-template-columns: 2vw 5vw 5vw 68vw 5vw 5vw;
  grid-template-rows: 10%;
  border: 5px solid black;
  border-radius: 4px 4px;
  height: 10vh;
}

.nav-option {
  font-size: 26px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.page-title {
  font-size: 36px;
  margin-top: 5px;
}

.logout-button {
  grid-column-start: 6;
  grid-column-end: seven;
}

.stockAmount-text {
  font-size: 12px;
}

.green-text {
  color: rgb(27, 119, 27);
}

.red-text {
  color: red;
}
// Codepen spesific styling - only to center the elements in the pen preview and viewport
.header-container {
  width: 100%;
}
// End Codepen spesific styling

.header-text-css {
  color: mix(rgb(0, 0, 0), orange, 100%);
  font-weight: 500;
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, orange, 94%),
    0.005em 0.005em 0 mix(#fff, #ffffff, 60%),
    0.01em 0.01em 0 mix(#fff, orange, 62%),
    0.015em 0.015em mix(orange, #ffffff, 64%),
    0.02em 0.02em 0 mix(#fff, #000000, 66%),
    0.025em 0.025em 0 mix(#fff, #000000, 68%),
    0.03em 0.03em 0 mix(#fff, orange, 70%),
    0.035em 0.035em 0 mix(#fff, orange, 72%);
}

.container-css {
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}
.container-css-noColumn {
  /*justify-content: center;*/
  margin-top: 20px;
  width: 90%;
}

.stock-column-names {
  color: #212121 !important;
}

.instrument-container {
  width: 95%;
  height: 43vh;
  margin-top: 20px;
  overflow-y: auto;
  border-radius: 4px 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.loading-center {
  position: absolute;
  top: 50%;
  left: 46%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 0.8s linear infinite;
  -moz-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.login-loading-center {
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.8s linear infinite;
  -moz-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.striped-border {
  border: 1px dashed #000;
  width: 100%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.stock-container-css {
  background-color: white;
  display: flex;
  align-items: center;
  border: 5px solid #000000;
  margin-bottom: 5px;
  border-radius: 2px 16px;
  flex-wrap: wrap;
}

.portfolio-chart {
  background: white;
  font-size: 14px;
  color: black;
  border-radius: 2px 16px;
}

h6 {
  color: #212121;
}

h3 {
  color: #212121;
}

.login-loading {
  color: "#212121";
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
}

.App-link {
  color: #61dafb;
}

.center-container {
  min-width: 80%;
}

.cool-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.centered-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-size {
  height: 40vh;
  width: 40vw;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c2542;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c2988;
}

.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 48px !important;
  font-weight: 1000;
  color: #000;
  display: block;
  padding: 0.5em;
}

h5:nth-child(2) {
  position: absolute;
  background-color: #000;
  color: #fff;
  clip-path: inset(
    -1% -1% 50% -1%
  ); // Added the negative values to prevent icky "bleed" in Chrome
}

// Codepen spesific styling - only to center the elements in the pen preview and viewport
.header-container {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
// End Codepen spesific styling

.cgt-summary {
  margin-top: 25px;
  height: 200px;
  margin-bottom: 20px;
  border: 5px solid black;
  background-color: white;
  border-radius: 2px 16px;
  justify-content: center;
  display: flex;
}

.cgt-chart {
  height: 50vh;
  background-color: grey;
  margin-bottom: 20px;
}

.cgt-sales-list {
  border: 5px solid black;
  background-color: white;
  border-radius: 2px 16px;
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  height: 80vh;
  overflow-y: auto;
}

.cgt-sold-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  border: 2px solid black;
  padding: 10px;
}

.h6-margin-fix {
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-row {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 850px) {
  .page-title {
    font-size: 32px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .nav-option {
    font-size: 22px;
    margin-top: 5px;
  }

  .stock-summary {
    width: 95% !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .page-title {
    font-size: 26px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .nav-option {
    font-size: 16px;
    margin-top: 5px;
  }

  .portfolio-summary {
    margin-bottom: 30px;
    width: 95% !important;
  }

  .stock-summary {
    width: 95% !important;
    margin-bottom: 20px;
  }

  .hide-when-small {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .nav-option {
    font-size: 12px;
    margin-top: 5px;
  }
}
